<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.tangram.oauth" version="1.0.0"
	xmlns:android="http://schemas.android.com/apk/res/android">

<name>Tangram-Oauth</name>

<description>Plugin for SSO login and share message</description>

<author>luncher</author>

<keywords>tangram,SSO</keywords>

<js-module src="www/oauth.js" name="oauth">
	<clobbers target="cordova.plugins.oauth" />
</js-module>

  <!-- android -->
  <platform name="android">

	<config-file target="res/xml/config.xml" parent="/*">
		<feature name="oauth">
			<param name="android-package" value="com.tangram.oauth.oauth"/>
		</feature>
	</config-file>

	<config-file target="AndroidManifest.xml" parent="/manifest">
		<uses-permission android:name="android.permission.INTERNET"/>
		<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	</config-file>

	<config-file target="AndroidManifest.xml" parent="/manifest/application">
		<activity
       		android:name="com.tencent.tauth.AuthActivity"
			android:noHistory="true"
			android:launchMode="singleTask">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="tencent101195786"/>
			</intent-filter>
		</activity>
		<activity 
			android:name="com.tencent.connect.common.AssistActivity"
			android:theme="@android:style/Theme.Translucent.NoTitleBar"
			android:configChanges="orientation|keyboardHidden|screenSize" 
		/>
	</config-file>
	<source-file src="src/android/libs/open_sdk_r4547.jar" target-dir="libs" />
	<source-file src="src/android/libs/mta-sdk-1.6.2.jar" target-dir="libs" />
	<source-file src="src/android/libs/android-support-v4.jar" target-dir="libs" />
	<source-file src="src/android/oauth.java" target-dir="src/com/tangram/oauth" />
  </platform>
</plugin>
